Aidela/Library/src/main/resources/xsd-library-xml.xsd

<?xml version="1.0" ?>
<!-- XSD for library.xml -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Library">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Book" type="BookType" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="Author" type="AuthorType" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
        <xsd:key name="AuthorKey">
            <xsd:selector xpath="Author" />
            <xsd:field xpath="@ident" />
        </xsd:key>
        <xsd:keyref name="AuthorRef" refer="AuthorKey">
            <xsd:selector xpath="Book/Authors/Author"/>
            <xsd:field xpath="@authorIdent" />
        </xsd:keyref>
    </xsd:element>
    <xsd:complexType name="BookType">
        <xsd:sequence>
            <xsd:element name="Title" type="xsd:string" />
            <xsd:element name="Authors">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Author" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:attribute name="authorIdent" type="xsd:string" use="required" />
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="ISBN" type="xsd:string" use="required" />
        <xsd:attribute name="publisher" type="xsd:string" use="required" />
        <xsd:attribute name="year" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{4}"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute> 
        <xsd:attribute name="edition">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[1-9](0|[2-9])th|2nd|3rd|[1-9]?1st"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute> 
        <xsd:attribute name="count" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer">
                    <xsd:minInclusive value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute> 
    </xsd:complexType>
    <xsd:complexType name="AuthorType">
        <xsd:sequence>
            <xsd:element name="First_Name" type="xsd:string" />
            <xsd:element name="Last_Name" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="ident">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[A-Z][A-Z]"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute> 
    </xsd:complexType>
</xsd:schema>       